<!-- Header -->
<header class="header" style="padding: 0 20px">
  <div class="">
    <div class="top-bar">
      <!-- More -->
      <label class="top-bar__more d-lg-block" for="navbar-mobile-input">
        <i class="fa-solid fa-bars-staggered top-bar__more-icon"></i>
      </label>

      <!-- Logo -->
      <a href="#home" class="logo d-lg-flex" style="display: none;">
        <i class="fa-solid fa-house logo__icon"></i>
        <h1 class="logo__title">Booking</h1>
      </a>

      <!-- Navbar Mobile  -->
      <input
        hidden
        type="checkbox"
        name=""
        id="navbar-mobile-input"
        class="navbar__mobile-input"
      />
      <label class="navbar__overlay" for="navbar-mobile-input"></label>
      <nav class="navbar__mobile">
        <label for="navbar-mobile-input">
          <i class="fa-solid fa-arrow-left navbar__mobile-arrow"></i>
        </label>
        <ul class="navbar__mobile-list">
          <li class="navbar__mobile-item">
            <button href="#" class="navbar__mobile-link" text>
              navbar__mobile item
            </button>
          </li>
          <li class="navbar__mobile-item">
            <button href="#" class="navbar__mobile-link" text>
              navbar__mobile item
            </button>
          </li>
          <li class="navbar__mobile-item">
            <button href="#" class="navbar__mobile-link" text>
              navbar__mobile item
            </button>
          </li>
        </ul>
      </nav>

      <!-- Actions -->
      <div class="top-actions">
        <a href="#" class="btn btn--text">Sign In</a>
        <a href="#" class="btn btn--primary">Sign Up</a>
      </div>
    </div>
  </div>
</header>
