<div class="left-sidebar__header">
  <!-- Logo -->
  <a href="#home" class="logo">
    <i class="fa-solid fa-user logo__icon"></i>
    <h1 class="logo__title">Admin</h1>
  </a>
</div>
<div class="sidebar-scroll">
  <!-- Sidabar navigation -->
  <nav class="sidebar__nav">
    <ul class="sidebar__list">
      <li class="sidedbar__item">
        <a href="#" class="sidebar__link">Overview</a>
      </li>
      <li class="sidedbar__item">
        <a href="#" class="sidebar__link">nav item</a>
      </li>
      <li class="sidedbar__item">
        <a href="#" class="sidebar__link">nav item</a>
      </li>
    </ul>
  </nav>
</div>
