{% extends 'layout/default/base.html' %} {% block title %} Rooms {% endblock %}
{% block content %}
<div class="alert success">
  <strong
    ><i
      class="fa-solid fa-check"
      style="
        border: 1px solid #fff;
        border-radius: 100%;
        padding: 2px 3px;
        margin-right: 4px;
      "
    ></i
  ></strong>
  Added to cart!
</div>

<div class="breadcrumb">
  <div class="wrapper">
    <div class="content">
      <h1 style="font-size: 42px">OUR ROOMS</h1>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-8">
      <div class="room-items show" id="room-items">
        {% for room in rooms %}
        <div class="room-item" data-id="{{room.id}}">
          <div class="room-thumbnail">
            {% if room.images %} <img src="/static/img/{{room.images | first |
            attr("src")}}" alt="room image" /> {% endif %}
          </div>
          <div class="room-content">
            {% set available_rooms = room.check_available(check_in, check_out)%}
            {% set amenities = room.amenities %} {% set bed =( amenities |
            selectattr("amenity_type", "equalto", 7) | first) %} {% set services
            = (amenities | selectattr("amenity_type", "equalto", 5) | list) %}
            <h2>{{room.name}}</h2>
            <h4>{{room.price}}$ <span>/ Day</span></h4>
            <div class="room-feature">
              <h6>Size: <span>{{room.room_size}} ft</span></h6>
              <h6>Capacity: <span>{{room.adults}}</span></h6>
              <h6>
                Bed:
                <span>{{ bed }}</span>
              </h6>
              <h6>
                Services:
                <span>
                  {% for service in services %} {{service}}, {% endfor %}...
                </span>
              </h6>
              <h6>Available: <span>{{available_rooms|length}}</span></h6>
            </div>
            <div class="room-actions">
              <a
                class="btn btn--outline js-toggle btn-detail"
                toggle-target="#room-detail"
                >Details</a
              >
              <a
                class="btn btn--primary add-to-cart {% if available_rooms|length == 0 %}btn--disabled{% endif %}"
              >
                Add To cart
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="room-detail hide" id="room-detail"></div>
    </div>
    <div class="col-4 check-available">
      <form action="" class="form">
        <div class="form__group">
          <label for="name" class="form__label form__label--small">
            Date
          </label>
        </div>
        <div class="form__row">
          <div class="form__group">
            <div class="form__text-input form__text-input--small">
              <input
                type="date"
                name="check-in"
                id="check-in"
                class="form__input"
              />
            </div>
          </div>
          <div class="form__group">
            <div class="form__text-input form__text-input--small">
              <input
                type="date"
                name="check-out"
                id="check-out"
                placeholder="Check out"
                class="form__input"
              />
            </div>
          </div>
        </div>

        <div class="form__row">
          <button
            class="btn form__group"
            style="background-color: rgba(85, 85, 230, 0.842)"
          >
            Check Available
          </button>
        </div>
      </form>

      <div class="form__group">
        <label for="name" class="form__label form__label--small">
          Policy
        </label>
      </div>
      <div class="form__group">
        <p>Check in: 14h</p>
        <p>Check out: 12h</p>
        ............
      </div>
    </div>
  </div>

  <div class="fixed-cart">
    <a class="cart-icon js-toggle" toggle-target="#cart"
      ><i class="fa-solid fa-basket-shopping"></i>
    </a>
    <span class="badge badge-warning" id="lblCartCount"> 0 </span>
  </div>

  <!-- Modal: cart -->
  <div id="cart" class="modal modal--large hide">
    <div class="modal__content">
      <form action="" class="form">
        <div class="modal__bottom" style="margin-top: 0">
          <button
            class="btn btn--small btn--text modal__btn js-toggle"
            toggle-target="#cart"
          >
            <i class="fa-solid fa-x"></i>
          </button>
        </div>
        <h2 class="modal__heading">Booking Infomation</h2>
        <div class="modal__body row gx-4" style="overflow-y: unset">
          <div class="content-left col-8">
            <div
              class="cart-list"
              style="overflow-y: auto; max-height: calc(100vh - 180px)"
            ></div>
          </div>
          <div
            class="content-right col-4 cart-info"
            style="
              box-shadow: -19px 32px 73px -3px rgba(177, 175, 175, 0.55);
              min-height: 320px;
            "
          >
            <div class="cart-info__row">
              <span>Check In:</span>
              {{check_in}}
            </div>
            <div class="cart-info__row">
              <span>Check Out:</span> {{check_out}}
            </div>
            <div class="cart-info__separate"></div>
            <div class="cart-info__row">
              <span>Estimated Total</span>
              <span class="total"></span>
            </div>
            <a
              href="/checkout"
              class="cart-info__next-btn btn btn--primary btn--rounded"
            >
              Continue to checkout
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="modal__overlay"></div>
  </div>

  <!-- Modal: confirm remove cart item -->
  <div id="delete-confirm" class="modal modal--small hide">
    <div class="modal__content">
      <p class="modal__text">Do you want to remove this item from cart?</p>
      <div class="modal__bottom">
        <button
          class="btn btn--small btn--outline modal__btn js-toggle"
          toggle-target="#delete-confirm"
        >
          Cancel
        </button>
        <button
          class="btn btn--small btn--danger btn--primary modal__btn btn--no-margin js-toggle confirm"
          toggle-target="#delete-confirm"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="modal__overlay js-toggle" toggle-target="#delete-confirm"></div>
  </div>

  {% endblock %} {% block javascript %}
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/booking.js') }}"
  ></script>

  <script>
    const checkIn = $("#check-in");
    const checkOut = $("#check-out");
    checkIn.value = "{{ check_in  }}";
    checkOut.value = "{{ check_out }}";

    const minDate = new Date();
    const maxDate = new Date();
    checkIn.setAttribute(
      "max",
      `${maxDate.getFullYear()}-${format(maxDate.getMonth() + 2)}-${format(
        maxDate.getDate()
      )}`
    );

    checkIn.setAttribute(
      "min",
      `${minDate.getFullYear()}-${format(minDate.getMonth() + 1)}-${format(
        minDate.getDate()
      )}`
    );

    checkIn.addEventListener("change", () => {
      if (checkIn.value > checkOut.value) {
        setValidCheckOut();
      }
    });

    checkOut.addEventListener("change", () => {
      setValidCheckOut();
    });
  </script>
  <!-- The contents of myscript.js will be loaded inside the script tag -->
  {% endblock %}
</div>
