{% extends 'layout/default/base.html' %} {% block title %} Rooms {% endblock %}
{% block content %}

<div class="breadcrumb">
  <div class="wrapper">
    <div class="content">
      <h1 style="font-size: 42px">CHECK OUT</h1>
    </div>
  </div>
</div>

{% if 'cart' in session %} {%set check_in = session.get("cart").check_in %}
{%set check_out = session.get("cart").check_out %} {%set items =
session.get("cart")['items'] %}
<div class="container" style="margin-top: 30px">
  <div class="checkout-container">
    <div class="row gy-xl-3">
      <div class="col-8 col-xl-12">
        <div class="cart-info">
          <h1 class="cart-info__heading">Booking information</h1>
          <div class="cart-info__separate"></div>

          <form class="form" method="post" action="/book" id="booker">
            <div class="booker">
              <div class="form__row">
                <div class="form__group">
                  <label for="name" class="form__label form__label--small"
                    >Name</label
                  >
                  <div class="form__text-input form__text-input--small">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Name"
                      class="form__input"
                      required
                      minlength="2"
                    />
                  </div>
                  <p class="form__error">Name must be at least 2 characters</p>
                </div>
                <div class="form__group">
                  <label for="phone" class="form__label form__label--small"
                    >Phone</label
                  >
                  <div class="form__text-input form__text-input--small">
                    <input
                      type="tel"
                      name="phone"
                      id="phone"
                      placeholder="Phone"
                      class="form__input"
                      required
                      minlength="10"
                      maxlength="11"
                    />
                  </div>
                  <p class="form__error">
                    Phone must be at least 10 characters
                  </p>
                </div>
              </div>
              <div class="form__group">
                <label for="email" class="form__label form__label--small"
                  >Email</label
                >
                <div class="form__text-input form__text-input--small">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                    class="form__input"
                    required
                    minlength="2"
                  />
                </div>
                <p class="form__error">Example: thinh@gmail.com</p>
              </div>
              <div class="form__group">
                <label for="notes" class="form__label form__label--small"
                  >Notes</label
                >
                <div class="form__text-area">
                  <textarea
                    name="notes"
                    id="notes"
                    placeholder="Note your requirements"
                    class="form__text-area-input"
                  ></textarea>
                </div>
              </div>
            </div>
          </form>

          <div class="cart-info__separate"></div>

          {%set currentRoom = rooms | selectattr("id", "equalto", items[0].room)
          | first%}
          <h2 class="cart-info__sub-heading">
            Room<span class="room-name">({{currentRoom.name}})</span>'s guests
          </h2>

          <ul class="guest-list" data-room="{{items[0].room}}"></ul>

          <div class="form__group">
            <button
              class="btn btn--small btn--primary js-toggle js-more-guest"
              toggle-target="#new-guest-modal"
              style="width: 100%"
            >
              More guest
            </button>
          </div>
        </div>
      </div>
      <div class="col-4 col-xl-12">
        <div class="cart-info">
          <div class="cart-info__row">
            <a
              href="/booking?check-in={{check_in}}&check-out={{check_out}}"
              style="
                width: 100%;
                text-align: right;
                cursor: pointer;
                padding: 4px 2px;
              "
            >
              <span><i class="fa-solid fa-chevron-left"></i></span>
              <span>Back to cart</span>
            </a>
          </div>
          <div class="cart-info__row">
            <span>Check in</span>
            <span>{{check_in}}</span>
          </div>
          <div class="cart-info__row">
            <span>Check out </span>
            <span>{{check_out}}</span>
          </div>
          <div class="cart-info__row">
            <span
              >Subtotal <span class="cart-info__sub-label">(Rooms)</span></span
            >
            <span class="total-rooms"></span>
          </div>
          <div class="cart-info__separate"></div>
          <div class="cart-info__row">
            <span>Estimated Total</span>
            <span class="total-amount"></span>
          </div>
          <button
            class="cart-info__next-btn btn btn--primary btn--rounded btn-book"
            style="width: 100%"
            type="submit"
            form="booker"
          >
            Book
          </button>
        </div>
        <div class="cart-info">
          <h2 class="cart-info__sub-heading">Rooms</h2>
          <div class="cart-info__list"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Guest -->
<div id="new-guest-modal" class="modal hide">
  <div class="modal__content">
    <form class="form">
      <h2 class="modal__heading">New Guest</h2>
      <div class="modal__body">
        <div class="form__group">
          <div class="form__text-input form__text-input--small">
            <input
              type="text"
              placeholder="Name"
              class="form__input modal--guest-name"
              required
            />
          </div>
        </div>

        <div class="form__row">
          <div class="form__group">
            <div class="form__text-input form__text-input--small">
              <input
                type="text"
                placeholder="Identity number"
                class="form__input modal--guest-id"
                pattern="[0-9]{12}"
                maxlength="12"
                required
              />
            </div>
          </div>
          <div class="form__group form__group--inline" style="flex: 0.2">
            <label class="form__checkbox">
              <input
                type="checkbox"
                class="form__checkbox-input d-none modal--guest-vietnamese"
                checked
              />
              <span class="form__checkbox-label">Vietnamese</span>
            </label>
          </div>
        </div>
      </div>
      <div class="modal__bottom">
        <button
          class="btn btn--small btn--outline modal__btn js-toggle modal-cancel"
          toggle-target="#new-guest-modal"
          ="#new-guest-modal"
        >
          Cancel
        </button>
        <button
          class="btn btn--small btn--primary modal__btn btn--create-guest"
        >
          Create
        </button>
      </div>
    </form>
  </div>
  <div class="modal__overlay"></div>
</div>
{% endif %} {% endblock %} {% block javascript %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/checkout.js') }}"
></script>

{% endblock %}
