<footer class="content__container footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        <a href="#home" class="footer__logo">
          <img
            src="{{ url_for('static', filename='icons/logo.svg') }}"
            class="logo"
          />
        </a>

        <p class="footer__text">
          <i class="fa fa-map-marker"></i> No. 11D, Lot A10, Nam Trung Yen urban
          area, Yen Hoa Ward, Cau Giay District, City. Hanoi
        </p>
        <p class="footer__help-text">Receive product news and updates.</p>
        <form action="" class="footer__form">
          <input
            type="text"
            class="footer__input"
            placeholder="Email address"
          />
          <button class="btn btn--primary">SEND</button>
        </form>
      </div>
      <div class="footer__col">
        <h1 class="footer__heading">Menu</h1>
        <ul class="footer__list">
          <li>
            <a href="#" class="footer__link">About us</a>
          </li>
          <li>
            <a href="#" class="footer__link">Accommodation</a>
          </li>
          <li>
            <a href="#" class="footer__link">Amenities</a>
          </li>
          <li>
            <a href="#" class="footer__link">Services</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h1 class="footer__heading">Contact</h1>
        <ul class="footer__list">
          <li>
            <p class="footer__label">Email</p>
            <a href="mailto:contact@grocerymart.com" class="footer__link">
              contact@lpthinhgmail.com
            </a>
          </li>
          <li>
            <p class="footer__label">Hotline</p>
            <a href="tel:18008787" class="footer__link">18008787</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
